* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy'
  }
html, body{
        height: 100%;
        width:	100%;
}
:root{
  --main-color:#edc6b1;
  --primary:#0a4d68;
  --ligth-black:#666;
  --bg:#ffcc9f;
  --black:#141414;
  --white:#fff;
  
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background:var(--main-color);
    color:#333;
}
.container{
    margin: 0 15px;
    
}
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background:var(--primary); 
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1.7);
    

  }
  h2{
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border: none;
    outline: none;
    font-size: 3vh;
    color: #333;
    margin-bottom: 20px;
    border-radius: 10px;
}
button{
    width: 100%;
    padding: 12px;
    font-size: 3vh;
    border-width: 2px;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
    border: solid #141414;
    display: inline-block;
    background:#ffffff;
}
button:hover{
    background:var(--main-color);
    color:#eee;
    transition-duration: 1s;
}
p{
    font-size: 20px;
    color: var(--main-color);
    text-align: center;
    padding: 18px;
}
