* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas';
  }
html, body{
        height: 100%;
        width:	100%;
}
:root{
  --main-color:#edc6b1;
  --primary:#0a4d68;
  --ligth-black:#666;
  --bg:#ffcc9f;
  --black:#141414;
  --white:#fff;
}
*{
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
html{
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}
html::-webkit-scrollbar{
  width: 2vh;
}

html::-webkit-scrollbar-track{
  background: var(--primary);
}
html::-webkit-scrollbar-thumb{
  background: var(--main-color);
}

section{
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
}
.btn{
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.7rem 1.7rem;
  border: solid var(--main-color);
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--main-color);
}
.btn:hover{
  background: var(--main-color);
  color: var(--white);
  border: solid var(--white);
  transition-duration: 1s;
}
.heading{
  text-align: center;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 13vh;
}

/* header*/
.header{
  position: fixed;
  top: 0; left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh;
  background:var(--primary);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
  
}
.logo{

    font-size: 3vw;
    font-weight: bolder;
    color: var(--main-color);
}
.navbar a{
    font-size: 2vw;
    margin-left: 2vh;
    color: var(--bg);
}
.navbar a:hover{
    color:var(--white);
}
/*home*/
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(5.jpg);
  background-size:cover;
  background-attachment: fixed;
}
.home .container{
  max-width: 60rem;
  text-align: center;
  font-weight: 700;

}
.home .container h2{
  font-size: 4vw;
  text-transform: uppercase;
  color: var(--black);
  padding: 1rem;
  background-color: #ffffff48;
}

/* about us*/



.about .row .content{
  flex: 1 1 40rem;

}
.about .row .content h3{
  font-size: 1.7rem;
  color: var(--black);
  text-transform: uppercase;
}
.about .row .content p{
  font-size: 1rem;
  color: var(--ligth-black);
  padding: 1rem 0;
  list-style: 2;
}
.about .row .image{
  
  flex: 1 1 40rem;
  
}

/*.about .row .image img{
  width: 100%;
  float:right;
}*/

img{
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle;
}



